extends ../layouts/default

append mainVars
	- currentPage = 'privacy-policy'
	- pageTitle = 'Welcome to the privacy policy page'
	- metaKey = 'add, some, keywords'
	- metaDesc = 'This is the page description.'

block content
	.first
		p privacy policy is what you will find here.