extends ../layouts/default.jade

append mainVars
	- currentPage = 'about-us'
	- pageTitle = 'Welcome to the about us page'
	- metaKey = 'add, some, keywords'
	- metaDesc = 'This is the page description.'

block content
	.first
		p this is the about page.