/* ==========================================================================
   Page transitions
   ========================================================================== */

div.main > section:first-child {
  box-sizing:border-box;
  transition: .5s height;
  backface-visibility:hidden;
}

div.main > section:first-child > *,
div.main > section:not(:first-child)  {
  transition: .5s opacity;
  backface-visibility:hidden;
}

div.main.fade > section:first-child > *,
div.main.fade > section:not(:first-child)  {
  opacity: 0;
}

//heights must be the same as the final value

[data-to=about-us] > section {
  height: 300px !important;
}

[data-to=index] > section {
  height: 400px !important;
}

[data-to=contact-us] > section {
  height: 100px !important;
}
