@import "_normalize";
@import "_variables";
@import "_mixins";
@import "_transitions";


body {
    margin: 0 auto;
    width: 90%;
}

header {
    display: block;
    padding: 0 0 50px 0;
    nav {
        ul {
            float: right;
            list-style-type: none;
            margin: 0;
            li {
                float: left;
                margin-left: 20px;
            }
        }
    }
}

.main {
  section{
    background-color: #ccc;
    padding: 2em;
    position: relative;
    overflow: hidden;
  }
}

.footer {
    padding: 25px 0;
    nav {
        ul {
            list-style-type: none;
            margin: 0;
            li {
                float: left;
                margin-right: 20px;
            }
        }
    }
}


#index section{
  height: 400px;
}

#about-us section{
  height: 300px;
}

#contact-us section{
  height: 100px;
}